/*$font: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_size: 1.5rem;
$font_size_small: 1.2rem;
$font_size_x_small: .9rem;
$font_weight: 400;
$baseMargin: 2rem;*/

$basePadding: 2rem;
$transition: cubic-bezier(0.785, 0.135, 0.150, 0.860);

/*$box_shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
$box_shadow_active: 0 4px 8px 0 rgb(0 0 0 / 40%);*/


//VEDI https://css-tricks.com/how-to-recreate-the-ripple-effect-of-material-design-buttons/