@use "sass:math";

@import "variables";
@import "mixins";
@import "fns";
@import "structure";
@import "base";
@import "transitions";

$body-font-family: 'Oxygen';

.v-application {
	[class*='text-'] {
		font-family: $body-font-family, sans-serif !important;
	}
	font-family: $body-font-family, sans-serif !important;
}